body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

#introduction {
    background-color: #3498db;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Movies and Anime Section */
#movies-anime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#movies-anime h3 {
    text-align: center;
    color: #444;
}

#movies-anime ul {
    list-style-type: none;
    padding: 0;
}

#movies-anime li {
    margin: 10px;
    text-align: center;
}

#movies-anime img {
    max-width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #3498db;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db;
    color: white;
}
